.button {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: var(--font-open-sans);
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.login_button,
.pagination_button {
    padding: 14px 27px;
}

.common_book_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
}

.button:hover {
    cursor: pointer;
}

@media (max-width: 756px) {
    .pagination_button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 572px) {
        .buttons > button {
        background: none;
        padding: 5px;

    }
}