.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header * {
    transition: 0.2s all;
}

.first_column {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.second_column {
    display: flex;
    align-items: center;
    gap: 83px;
}

@media (max-width: 998px) {

    .header {
        margin-bottom: 20px;
    }

    .first_column {
        flex-direction: row-reverse;
        align-items: center;
    }

    .second_column {
        gap: 30px;
    }
}

@media (max-width: 667px) {

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .first_column,
    .second_column {
        width: 100%;
        justify-content: space-between;
    }

    .first_column {
        flex-direction: row;
    }


    .second_column > button {
        padding: 0;
        background: inherit;
        color: var(--black);
    }  

    .header_logo {
        display: none;
    }
}