.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
}

.first_column {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.second_column {
    display: flex;
    align-items: center;
    gap: 83px;
}

@media (max-width: 998px) {

    .header {
        margin-bottom: 20px;
    }

    .first_column {
        flex-direction: row-reverse;
        align-items: center;
    }

    .second_column {
        gap: 30px;
    }
}