@keyframes fade_in {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.book {
    animation: fade_in 0.5s;
    border-radius: 10px;
    box-shadow: 10px 4px 14px 0px rgba(0, 0, 0, 0.25)
}

.commonbook {
    width: 250px;
    height: 360px;
}

@media (max-width: 756px) {
    .commonbook{
        width: 180px;
        height: 260px;
    }
}